Repository ThatSealgair/scripture: changes, and which lefthook commands are due for each by the changed paths.
All: formatting, clippy, check-config

formatting:
  run: cargo fmt --check {staged_files}

clippy:
  run: cargo clippy --all-targets --all-features -- -D warnings

check-config:
  run: cargo run -- validate-config {staged_files}

# Changes Overview [Required] # Briefly describe the purpose of these changes
  Cargo.toml
  README.md
  scripture.toml
  src/main.rs
Due: formatting, clippy

# Changes Overview
  src/main.rs
Due: formatting, clippy

Updated Cargo.toml to include required information to publish to crates.io. Updated lefthook to ignore toml files
  .lefthook.yml
  Cargo.toml
Due: formatting

Added a deny.toml to fit cargo-deny standards enforced by pre-hook commit
  deny.toml
Due: formatting

Updated deny.toml through the init function
  deny.toml
Due: formatting

Updated deny.toml to cover my needs.
  deny.toml
Due: formatting

Updated Cargo.toml to exclude unused regex and toml libraries.
  Cargo.toml
Due: formatting

Updated deny.toml to fit new standards.
  deny.toml
Due: formatting

Updated Cargo.toml to use American varient of licence.
  Cargo.toml
Due: formatting

Updated README.md to include links to crates.io publication.
  README.md
Due: none

Updated Cargo.toml to include documentation link
  Cargo.toml
Due: formatting

Path conditions:
  formatting: any of: *.{rs,toml}
  clippy: any of: *.rs
  check-config: any of: config/*.toml
